<h1>Help/FAQ</h1>

<h2>Q:I have previously used Ethocribe, why is this program layed out differently?</h2>
<p>A:Ethoscribe has many design choices based around the apple newton.
 Neoscribe is designed to work better as a web app and to be more accessable to modern users.</p>

<h2>Q:How do I create a project?</h2>
<p>A:In order to create a project, go to PROJECTS and select CREATE NEW PROJECT.</p>

<h2>Q:Why are there no behavior showing up during a trial? </h2>
<p>A:Behaviors must be added by pressing the Add behavipr button on the Trial Overview screen.</p>

<h2>Q:How do I execute a trial?</h2>
<p>A:Once you have identified the behaviors you want to record, create names for each of them 
and label each one under either the CONTINUOUS or POINT behavior categories. Press START to
 run the program, PAUSE to pause the program and DONE to finish and return to the trial overview.</p>

<h2>Q:Why are no trials showing up under the project overview page?</h2>
<p>A:In order to create a trial, go to PROJECT OVERVIEW and select +ADD TRIAL.</p>

<h2>Q:How do I finish a trial?</h2>
<p>A:After recording data, press the PAUSE button to stop the timer, 
then press the DONE button to go back to the TRIAL OVERVIEW page.</p>

<h2>Q:How do I run analysis on a trial?</h2>
<p>A:Press the RUN ANALYSIS button on the TRIAL OVERVIEW Page.</p>

<h2>Q:How do I do with the analysis of a trial?</h2>
<p>A:Once the ANALYSIS is displayed, you can SAVE the analysis to your account
 or you can EXPORT the analysis as a file on to your device.</p>

