<% if logged_in? %>
  <div class="center jumbotron">
    <h1>Welcome to Neoscribe</h1>

    <h2>
      This is the home page for the NeoScribe web app, made by students of Knox College. This is a placeholder.
    </h2>
	    
    <%= link_to "My account homepage", current_user, class: "btn btn-lg btn-primary" %>
	<%= link_to "Create a new project", new_user_project_path(current_user), class: "btn btn-lg btn-primary" %>
  </div>
	
<% else %>

  <div class="center jumbotron">
    <h1>Welcome to Neoscribe</h1>

    <h2>
      This is the home page for the NeoScribe web app, made by students of Knox College. This is a placeholder.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>