<li id="trial-<%= trial.id %>">
  <span class="title"><%= trial.title %></span>
  <span class="synopsis"><%= trial.synopsis %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(trial.created_at) %> ago.
  </span>
</li>