<% provide(:title, @trial.title) %>

<div class="row">
  <div class="col-md-12">
    <section class="project_info">
      <h1>
        <%= @trial.title %>
	  </h1>
	  <h3><small>
	    <%= @trial.synopsis %>
	  </small></h3>
    </section>
  </div>
</div>
