<li id="project-<%= project.id %>">
  <span class="project"><%= link_to project.title, user_project_path(@user, project.id) %></span>

  <span class="synopsis"><%= project.synopsis %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(project.created_at) %> ago.
  </span>
</li>