<footer class="footer">
  <small>
	Made by <i>soft knox consulting, LLC</i>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path	  %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>